/* BASIC STYLES HERE */
body{
  font-family: 'Kaisei Tokumin', serif;
  text-shadow: 2px 2px 4px #000000;
}

.bg-img{
  background-size: cover;
  background-repeat: no-repeat;
}

.card{
  background-color: rgba(255, 255, 255, 0.178);
  color: white;
  border-radius: 25px;
  box-shadow: 0px 0px 12px #faf19ec4;
  backdrop-filter: blur(4px);
}

#clock-div{
  position: center;
}

.visually-hidden{
  transition-timing-function: linear;
}

.clock{
  position: absolute;
  left: 200px;
  bottom: 250px;
}